.test {
  outline: 1px dashed red;
}
html,
body,
ul,
li,
.wrapper {
  border: none;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
html {
  background: none;
}
body {
  font-family: Roboto, sans-serif;
}
.wrapper {
  background-color: white;
}
.wrapper header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.logo img {
  width: 31px;
  height: 25px;
}
.menuitem a {
  color: black;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.menuitem a:hover {
  color: #10c9c3;
  text-decoration: none;
}
.section0 {
  background-color: #eee;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section0 > * {
  text-align: center;
}
.section0 h1 {
  color: black;
  font-weight: 700;
  margin-bottom: 30px;
}
.section0 p {
  color: #787878;
}
.tiles-list ul:nth-child(2n+1) li:nth-child(2n+1),
.tiles-list ul:nth-child(2n) li:nth-child(2n) {
  background-color: #888;
}
.tiles-list ul:nth-child(2n+1) li:nth-child(2n),
.tiles-list ul:nth-child(2n) li:nth-child(2n+1) {
  background-color: #e1e1e1;
}
.tiles-list ul {
  padding-left: 0;
  margin-bottom: 0;
  background-color: #10c9c3;
}
.tiles-list ul li {
  height: 300px;
}
.tiles-list ul li a {
  width: 100%;
  height: 100%;
}
.tiles-list ul li:hover {
  opacity: 0;
}
.tiles-list ul li:hover a {
  background-image: url(img/look.png);
}
.tile a {
  display:flex;
  justify-content: center;
  align-items: center;
}
.tile img{
  max-width: 70%;
  max-height: 70%;
}
.section_bar {
  background-color: #10c9c3;
  color: white;
  filter: contrast(1.2);
  padding-top: 100px;
  padding-bottom: 100px;
}

.section_bar .container ul li img {
  float: left;
  width: 40px;
  height: auto;
  filter: drop-shadow(0 0 1px white);
}
.section_bar .container ul li div {
  margin-left: 60px;
  text-transform: uppercase;
}
.about-me {
  background-color: #e1e1e1;
}
.about-me-container {
  background-color: #eee;
  padding: 135px 85px 135px 85px;
}
.about-me-container h2 {
  color: black;
  margin-bottom: 17px;
}
.about-me-container p {
  color: #787878;
}
.about-me-container p img {
  margin-top: 40px;
}
.need-a-project {
  padding-top: 100px;
  padding-bottom: 100px;
}
.need-a-project h2 {
  color: black;
  text-align: center;
}
.need-a-project p {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #787878;
  text-align: center;
  line-height: 1.5em;
}
.nap-button {
  text-align: center;
  background-color: #10c9c3;
  color: white;
  font-weight: 700;
  padding-top: 17px;
  padding-bottom: 17px;
  text-transform: uppercase;
}
.single-section {
  background-color: #e1e1e1;
}
.single-section h1 {
  font-weight: 700;
  margin-bottom: 20px;
}
.single-section p {
  color: #787878;
  font-weight: normal;
  margin-bottom: 30px;
}
.single-section > div {
  color: black;
  font-weight: 700;
}
.single-section > div span {
  color: #787878;
  font-weight: normal;
}
.single-section>.row{
  display:flex;
}
.single-section .row > div {
  background-color: #eee;
  padding: 105px 100px 105px 100px;
}
.pages-navigation {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pages-navigation > * {
  font-weight: 700;
  letter-spacing: 0.3em;
  font-size: 0.8em;
  text-transform: uppercase;
}
.pages-navigation > * a {
  color: black;
}
.pages-navigation > * a:hover {
  text-decoration: none;
}
.prev:before {
  content: "<  ";
}
.prev {
  text-align: left;
}
.next {
  text-align: right;
}
.center {
  text-align: center;
}
.center a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/ogl.png);
  vertical-align: top;
}
.next:after {
  content: "  >";
}
.info {
  background-color: #eee;
  padding-top: 50px;
  padding-bottom: 50px;
}
.info .container .row > div {
  padding-top: 25px;
  padding-bottom: 25px;
}
.contact-info h1 {
  margin-top: 10px;
  padding-top: 0;
  color: black;
}
.contact-info p {
  color: #787878;
}
.contact-info div > div {
  color: black;
}
.contact-info div > div span {
  color: #787878;
}
.review-form input,
.review-form textarea {
  margin-top: 10px;
}
.review-form input[type="submit"] {
  background-color: #10c9c3;
  color: white;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
footer {
  background-color: black;
  color: #e1e1e1;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container ul li div {
  margin-bottom: 0.8em;
}
.footer-container ul li div a {
  color: #e1e1e1;
  text-transform: capitalize;
}
.footer-container ul li div a:hover {
  color: white;
  text-decoration: none;
}
.project_photo {
  background-color: #e1e1e1 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project_photo img{
  max-width: 70%;
}
